<!DOCTYPE html>
<html lang="ja" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ページのタイトル</title>

    <script type="module">
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    </script>

    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="description" content="ページの説明文">
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/my.webmanifest">
  </head>


  
  <!-- body -->
  <!-- Rubyのプログラムを埋め込むために、拡張子は.rbにしなければならない？or部分で埋め込むメソッドを使う？ -->
  <!-- この中身をeasy/normal/hardのクリックで振り分けるrubyプログラムを書く  -->
  <body>
    <!-- container -->
    <div class="container">
      
      <div class="user-icon"> <!-- 問題を作った人のアイコンや情報を表示 -->
        <img src="img/#" alt="user-icon" id=>
      </div>
      <div class="question-contents">
        <%= name %>
      </div>

    </div>

     
    <!-- /contaimer -->











    <!-- Footer -->
    <div id="footer">
    </div>
    <!-- /Footer -->

    <!-- copyrights -->
    <div id="copyrights">
      <div class="container">
        <p> © Copyrights <strong>HogeHoge</strong>. All Rights Reserved</p>
      </div>
    </div>
    <!-- /copyrights -->


    <!-- JavaScript Libraries -->
    <!-- Template Main Jabascript File -->
        

  </body>
  <!-- /body -->
</html>