<!DOCTYPE html>
<html lang="ja" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ページのタイトル</title>

    <script type="module">
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    </script>

    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="description" content="ページの説明文">
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/my.webmanifest">
  </head>
  
  <!-- body -->
  <body>
    <!-- container -->
    <div class="container">
      <div class="navbar">
        <div class="navbar-header">
          <div class="navbar-button">
            <a class="navbar-title" href="/home/index"><h1>家事育児スキル認定アプリ</h1></a>
          </div>
          
        </div>
      </div>
      
      <div class="question-list">
        <p>作成済み問題一覧</p>
        <div class="データベースに保存されている問題を受け取ってli要素でリスト化するコード">
        </div>
        
      </div>

      

    </div>
    <!-- /container -->

    

    <!-- Footer -->
    <div id="footer">
    </div>
    <!-- /Footer -->

    <!-- copyrights -->
    <div id="copyrights">
      <div class="container">
        <p> © Copyrights <strong>HogeHoge</strong>. All Rights Reserved</p>
      </div>
    </div>
    <!-- /copyrights -->


    <!-- JavaScript Libraries -->
    <!-- Template Main Jabascript File -->
        

  </body>
  <!-- /body -->
</html>