
<div class="question_edit">
  <h1>問題作成画面です</h1>
  <div class="question_content">
    <h2>問題の本文です</h2>
  </div>

  <div class="question_answer">
    <h2>回答です</h2>
  </div>

  

  <%= form_with model: @post do  |form| %>
      <textarea name="contents"></textarea>
      <input type="submit" value="作成完了">
    
    <div class="flash-notifications">
      <% flash.each do |key, message| %>
       <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
