/* 配色の定義一覧 */
:root{
  /* 文字色のフォーマット */
  --main-color: #444444;
  --main-color-yellow: #FFF876;
  --main-color-green: #92CCCC;
  /* backgroundcolorのフォーマット */
  --main-bg-color-white: #FFFFFF;
  --main-bg-color-gray: #8E8E8E;
  --main-bg-color-darkgray: #444444;
  --main-bg-color-yellow: #FFF876;
  --main-bg-color-green: #92CCCC;
  --main-bg-color-beige: #F7F4E4;
  /* shadowのフォーマット */
  --main-dropshadow: #00000029;
  --main-shadow:  0px 3px 15px -5px #777777;
}

html{
  /*16pxの62.5%分=10px=1remと設定*/
  font-size: 62.5%;
  }
  

body {
  font-size:1.6rem;/* 16px*/
  font-family: "PT Sans", sans-serif;
  color: var(--main-color);
  background-color: var(--main-bg-color-beige);
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
img {
  vertical-align: bottom;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #88c4c4;
  height: 70px;
}
header a{
  color: var(--main-color-yellow);
}
h1 {
  font-size: 3rem;
  margin-left: 30px;
}
h1 span {
  font-size: 1.6rem;
}
h1 img {
  width: 130px;
}

.nav-title h1 a{
  display: inline-flex;
}
.main-nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.main-nav li:last-child::before{
    content: none;
  }
.main-nav li a{

  padding: 10px 8px;
  color: var(--main-color);
  border-radius: 60px;
  background-color: #FFFFFF;
  font-size: 1.4rem;
}
.main-nav .post {
  display: none;
}
/* ナビゲーションのログイン・サインインのlist要素の"・"を消す。 */
.main-nav .delete {
  display: none;
}
.rogin-message {
  text-align: center;
  margin: 20px auto;
}

/* タブレット表示で600px以上の範囲に対して指定するブレイクポイント */
@media screen and (min-width:600px){
  
}
/* PC表示で1,025px以上の範囲に対して指定するブレイクポイント*/
@media screen and (min-width: 1025px) {
  
  
}

/* --------------------------------
mainview
--------------------------------*/
.mv{
  position: relative;
  /* margin-bottom: 64px; */
  width: 100%;
}
.mv .mv-bg{
  /* margin: 0% 10% 0%; */
  width: 80%;
  /* width: 60%; */
  height: 300px;
  background-color: var(--main-bg-color-gray);
  border-radius: 30px;
  /* margin-right:  ; */
  /* margin-left: 20%; */
  /* padding: 80px 50px; */
  margin: auto;
} 



.mv .titleimage{
  display: none;
}
.mv span{
  display: none;
}

.mv p{
  color: var(--main-bg-color-white);
  /* padding-right: 4rem;
  padding-left: 150px; */
  padding: 4rem 4rem 4rem 15rem ;
}
.mv .penguin{
  width: 180px;
  bottom: 20px;
  left: 0px;
  position: absolute;
}



/* タブレット表示で600px以上の範囲に対して指定するブレイクポイント */
@media screen and (min-width:600px){
  .mv .titleimage{
    display: block;
    /* margin: 0rem 10rem 0rem 10rem; */
    margin: auto;
    width: 20rem;
  }
  .mv span{
    display: block;
    margin: 0rem 10rem;

  }
  .mv .mv-bg{
    /* width: 60%;
    height: 300px;
    background-color: var(--main-bg-color-gray);
    border-radius: 30px;

    margin: 0%; */
    padding: 2rem  0rem 0rem 0rem;
  }
  /* .mv{
    margin-bottom: 64px;
  }
  .mv .penguin{
    width: 180px;
    bottom: 20px;
    left: 0px;
    position: absolute;
  }
  .mv .mv-bg{
    width: 60%;
    height: 300px;
    background-color: var(--main-bg-color-gray);
    border-radius: 30px;

    margin: 0%;
    padding: 30px 100px;
  }
  .mv .titleimage{
    display: none;
  }
  .mv span{
    display: none;
  } */
  /* .level-select {
    bottom: 0px;
    position: absolute;
  } */
}
/* PC表示で1,025px以上の範囲に対して指定するブレイクポイント*/
@media screen and (min-width: 1025px) {
  
  
}
/*----------------------------------------------------------------------------------

中央パネルのデザイン

----------------------------------------------------------------------------------*/

.maincontent{
  width: 80%;
  margin: 50px 0px;
  margin-left: 10%;
  background-color: var(--main-bg-color-green);
  min-height: 200px;
  /* display:table; */
  position: relative;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  justify-content: center;
  
}
.maincontent > div {
  width: 100%;
  /* display: table-cell; */
  /* vertical-align: middle; */
  text-align: center;
  color: var(--main-color);
  /* position: relative; */
}
/* 中央パネル上のボタンのcss */
.maincontent button{
  padding: 10px 30px;
  border: 3px solid #fff;
  border-radius: 50px;
  box-shadow: var(--main-shadow);
}
  /* 中央パネル上の問題レベルセレクト */
.level-select {
  /* bottom: 0px; */
  /* position: absolute; */
}
.level-select a{
  color: var(--main-color-yellow);
  font-size: 1.8rem;
}
.maincontent > .left-formpanel {
  display: none;
}
.maincontent > rgstr-btn{
  margin: 20px;
}

/* タブレット表示で600px以上の範囲に対して指定するブレイクポイント */
@media screen and (min-width:600px){
  .maincontent{
    width: 70%;
    margin: 100px auto;
    background-color: var(--main-bg-color-green);
    min-height: 40rem;
    /* display:table; */
    position: relative;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  }
  .maincontent p{
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  
  .maincontent > rgstr-btn{
    height: 100%;
  }

  .maincontent > .left-formpanel {
    display: none;

    position: absolute;
    width: 100%;
    height: 100%;
    top: -10%;
    left: 5%;
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    transition: all .5s;
    color: #303030;
    overflow: hidden;
  }
   */
}
/* PC表示で1,025px以上の範囲に対して指定するブレイクポイント*/
@media screen and (min-width: 1025px) {
  
  
}
/* -------------------------------- 

Footer

-------------------------------- */
.footer {
  min-height: 100px;
  background-color: var(--main-bg-color-darkgray);
  box-sizing: border-box;
  color: #fff;
}
.footer p{
  margin: 0;
}
.social-buttons-container {
  min-height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto 0;
  text-align: center;
}
.social-button {
  display: inline-block;
  position: relative;
  transform: scale(0.75);
  height: 75px;
  width: 75px;
  background-size: cover !important;
  transition: 0.3s ease;
  margin: 14px 2px;
  cursor: pointer;
}
.social-button:hover {
  transform: scale(1);
  transition: 0.3s cubic-bezier(0.3, 0.2, 0, 2.5);
}
.social-button.twitter-button {
  background: url("https://cdn4.iconfinder.com/data/icons/social-icon-4/842/twitter-256.png") no-repeat center;
}
.social-button.facebook-button {
  background: url("https://cdn4.iconfinder.com/data/icons/social-icon-4/842/facebook-256.png") no-repeat center;
}
.social-button.pinterest-button {
  background: url("https://cdn4.iconfinder.com/data/icons/social-icon-4/842/pinterest-256.png") no-repeat center;
}
.social-button.insta-button {
  background: url("https://cdn4.iconfinder.com/data/icons/social-icon-4/842/instagram-256.png") no-repeat center;
}
.footer-links-container {
  display: flex;
  width: 90%;
  /* max-width: 950px; */
  /* margin:auto; */
  text-align: center;
}
.footer-links-container .footer-flex-column {
  position: relative;
  flex: 1 1 0;
  text-align: center;
  /* border-right: 1px solid #555; */
}
.footer-links-container .footer-flex-column:last-child {
  border: none;
}
.footer-links-container .footer-flex-column ul {
  position: relative;
  width: 100%;
  max-width: 200px;
  /* margin: auto; */
  color: #aaa;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.footer-links-container .footer-flex-column li {
  display: block;
  position: relative;
  margin: 15px 7px;
  color: #666;
  text-align: center;
  font-size: 1.6rem;
  text-transform: capitalize;
  cursor: pointer;
}
.footer-links-container .footer-flex-column li:hover {
  color: #999;
}
/* タブレット表示で600px以上の範囲に対して指定するブレイクポイント */
@media screen and (min-width:600px){

}
/* PC表示で1,025px以上の範囲に対して指定するブレイクポイント*/
@media screen and (min-width: 1025px) {
  
  
}
