:root{
  --main-color: #444444;
  --main-color-yellow: #FFF876;
  --main-color-green: #92CCCC;
  
  --main-bg-color-white: #FFFFFF;
  --main-bg-color-gray: #8E8E8E;
  --main-bg-color-darkgray: #444444;
  --main-bg-color-yellow: #FFF876;
  --main-bg-color-green: #92CCCC;
  --main-bg-color-beige: #F7F4E4;
  
  --main-dropshadow: #00000029;
  --main-shadow:  0px 3px 15px -5px #777777;
  }


ul{
  /* liの点を消す */
  list-style-type: none;
  /* liの点を消した後の余白を消す */
  padding-left: 0px;
}
 .quiz_area{
  text-align: center;
} 
.quiz_set{
  /* 問題の表示スペースの左右のマージン*/
  margin: auto 15% ;
  /* 問題の表示スペースのbg */
  background-color: var(--main-bg-color-white);
  height: 400px;
}
.quiz_set span{
  margin: 40px auto;
}
.quiz_no{
  margin: 40px auto;
}
.quiz_result{
  margin: 0px 15%;
}
.quiz_ans_area ul{
  justify-content: center;
}
